body {
    background-color: burlywood;
    /* background-image: url("../../assets/images/burgerimage.jpeg");
    background-repeat: no-repeat;
    background-position: center top; */
}

.main-title {
   color: red;
  
}



